@model CounterChangeFile.ViewModels.AnalisisViewModel

@{
    ViewData["Title"] = "Create";
}

<br />

<h2>Start Analysis</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            
                <span>@DateTime.Now </span>
            </div>
            <div class="form-group" >
                <input type="submit" value="Start" asp-route-Path="@Model.Path" asp-route-RepoId="@Model.RepoId"  class="btn btn-info" />
            </div>
                
        </form>
    </div>
</div>

<div>
    <a asp-controller="Repos" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
