@model IEnumerable<CounterChangeFile.Models.Analysis>

@{
    ViewData["Title"] = "Index";
}

<h2>Analysis</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-controller="Files" asp-action="Index" asp-route-Id="@item.Id">revise</a>
                </td>
            </tr>
        }
       
    </tbody>
</table>
<div>
    <a asp-controller="Repos" asp-action="Index">Back to List</a>
</div>
