@model IEnumerable<CounterChangeFile.Models.Files>

@{
    ViewData["Title"] = "Index";
}

<h2>Files</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RelativePath)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortFiles="@ViewBag.SortFiles">NumberOfChange</a>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RelativePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfChange)
                </td>

            </tr>
        }
    </tbody>
</table>
